@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --posta-red: #d71920;
  --posta-yellow: #ffd200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: color-mix(in srgb, var(--posta-yellow) 35%, transparent);
}
